[defaults]

inventory=inventory.ini
remote_user=ansible-user
ask-vault-pass=true # you can view, encrypt, decrpt vault secret
fork =10 # acts for the task level  , 1st 10 servers it connects and then  do the next task for the same set of servers before moving to the next set of servers .